body {
    margin: 0;
    padding: 0;
}
/*----------------------HIDDEN DROPDOWN-----------------------------*/
#navDropdown {
    display: none;
    width: 100%;
    text-align: center;
}

#navDropdownButton {
    display: block;
    width: 100%;
    padding: 1vh;
    background-color:white;
    color: black;
    border: none;
    border-top: solid 1.5px #AAF0D1;
    border-bottom: solid 1.5px #AAF0D1;
    border-radius: 5px;
    margin: 0 auto;
}

#navDropdownMenu {
    display: none;
    width: 100%;
}

.navDropdownItem {
    display: block;
    width: 50%;
    margin: 1vh auto;
    padding: 5px 0;    
   font-family: 'Assistant', sans-serif;
    text-decoration: none;
    color: black;
    font-size: 1.5em;
    border-bottom: solid 1.5px #AAF0D1;
}

.navDropdownItem:hover {
    background-color: rgb(170,240,209,0.7);
}

.show {
    display: none;
}

/*-----------------------------GENERAL HEADER START-------------------------*/

#topnavDiv {
    display: block;
    width: 100%;
    position: relative;
    top: 0;
}

#topnavLogoDiv {
    display: block;
    position: relative;
    width: 100%;
    top: 0;
    transition: top 0.3s;
}

.topnavLogoAnchor {
    display: block;
    height: 100%;
    width: 100%;
}
#topnavLogo {
    display: block;
    width: 10%;
    margin: 0 auto;
}

#topnavButtonDiv {
    display: block;
    width: 60%;
    margin: 2vh auto;
    text-align: center;
    transition: top 0.3s;
}

.topnavLink {
   font-family: 'Assistant', sans-serif;
    font-size: 1.5em;
    color: black;
    padding: 1vh 1vw;
    text-decoration: none;
}

.topnavLink:hover {
    border-bottom: solid 2px #AAF0D1;
    transition: 0.3s;
    font-weight: bold; 
}

.active {
    border-bottom: solid 1px #AAF0D1;
    font-weight: bold;
}
/*-------------------GENERAL HEADER END--------------------------------*/
/*------------------GENERAL HEADER MEDIA QUERRY START------------------*/

@media only screen and (max-width: 415px) {
    #topnavLogo{
        width: 30%;
        margin: 1vh auto;
    }

    #topnavButtonDiv {
        display: none;  
    }

    #navDropdown {
    	display: block;  
  	}
} 

/*--------------------GENERAL HEADER MEDIA QUERRY END--------------------*/
/*-----------------------FOOTER START--------------------------------*/
#footer {
    position: relative;
    bottom: 0;
    right: 0;
    left: 0;
    display: block;
    width: 90%;
    height: 20vh;
    margin: 0 auto;
}

#footerSocialDiv {
    display: block;
    float: right;
    width: 33%;
    height: 20vh;
    text-align: center;
    border-left: solid 2px #AAF0D1
}

#footerContactDiv {
    position: relative;
    display: block;
    float: right;
    width: 33%;
    height: 20vh;
    text-align: center;
    border-left: solid 2px #AAF0D1
}

#footerContactRightDiv {
    position: absolute;
    top:0;
    right: 0;
    margin: 0 6vh;
}

#footerContactLeftDiv {
    position: absolute;
    top:0;
    left: 0;
    margin: 0 6vh;
}

#footerMapDiv {
    display: block;
    float: right;
    width: 33%;
    height: 20vh;
  
}

.footerText {
    font-family: 'Assistant', sans-serif;
    text-decoration: none;
    color: black;
    font-size: 1.5em;
}

.footerSocialIcon {
    text-decoration: none;
    color: #AAF0D1;
    margin: 0 1vh;
}

#footerContactButton {
    text-decoration: none;
    color: black;
}

.footerContactButtonText {
    border: solid 1px #AAF0D1;
    padding: 2px 5px;
}

.footerContactButtonText:hover {
    font-weight: bold;
    background-color: #AAF0D1;
    opacity: 0.7;
    transition: 0.6s;
}

.footerMapHead {
    border-bottom: solid 1px #AAF0D1;
    width: 25%;
    margin: 2.5vh 2vh 0;
}

.footerMapAnchorText {
    display: inline-block;
    width: 15%;
    margin:3vh 2vh;
    font-size: 1.2em;
    text-align: center;
}

.footerMapAnchorText:hover {
    border-bottom: solid 1px #AAF0D1;
    font-weight: bold;
    transition:  0.6s;
}

@media only screen and (max-width:1366px) {
	#footer {
      	width: 100%;
  	}
}

@media only screen and (max-width:1024px) {
    #footerContactRightDiv {
        position: initial;
        top:auto;
        right: auto;
        margin: 0 4vh;
    }
    
    #footerContactLeftDiv {
        position: initial;
        top:auto;
        left: auto;
        margin: 0 4vh;
    }

    .footerContactButtonText {
        border: solid 1px #AAF0D1;
        padding: 2px 5px;
        font-weight: bold;
        background-color: #AAF0D1;
        opacity: 0.7;
    }
    
    .footerMapHead {
        border-bottom: solid 1px #AAF0D1;
        width: 40%;
        margin: 1.7vh 2vh 0;
    }
    
    .footerMapAnchorText {
        display: inline-block;
        width: 30%;
        margin:3vh 2vh;
        font-size: 1.2em;
        text-align: center;
    }
    
}

@media only screen and (max-width:415px) {
    #footerSocialDiv {
        width: 100%;
        height: auto;
        border-left: none;
    }
    
    #footerContactDiv {
        position: relative;
        display: block;
        float: right;
        width: 100%;
        height: auto;
        text-align: center;
        border-left: none
    }
    
    #footerMapDiv {
        display: block;
        float: right;
        width: 100%;
        height: auto;
        border-top: solid 2px #AAF0D1;
    }

    .footerMapHead {
        border-bottom: solid 1px #AAF0D1;
        width: 40%;
        margin: 1.7vh auto;
    }

    .footerMapAnchorText {
        display: inline-block;
        width: 25%;
        margin:3vh 5vh;
        font-size: 1.2em;
        text-align: center;
    }
}
/*---------------------------FOOTER END------------------------------*/


